<section class="h-75 bg-image mt-11">
  <div class="mask d-flex align-items-end h-75 gradient-custom-3">
    <div class="container h-75">
      <div class="row d-flex justify-content-end align-items-end h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-12 mt-11 mb-12 w-75">
          <form class="float-right ml-13" [formGroup]="accountVerificationForm" (ngSubmit)="accountVerification()">
            <div class="row frame" style="border-radius: 15px;">

              <div class="d-flex justify-content-center align-items-center mt-4 mb-4 sign-up-form-title">
                <h2 class="title-bg-text"><b>Activate Your Account</b></h2>
              </div>

              <div class="d-flex justify-content-center row mt-2">
                <div class="col-md-10">
                  <label class="form-label white-text">Verification Token</label>
                  <input type="text" [formControlName]="'verificationToken'" id="verificationToken" class="form-control form-control-lg form-styling" name="verificationToken"/>
                  <div class="form-control-feedback">
                    <p *ngIf="accountVerificationForm.get('verificationToken')?.errors?.['required']" class="text-failed">
                      Please enter your verification token.
                    </p>
                  </div>
                  <div class="form-control-feedback">
                    <p *ngIf="accountVerificationForm.get('verificationToken')?.errors?.['minLength']" class="text-failed">
                      Verification token must contain 6 digit.
                    </p>
                  </div>
                  <div class="form-control-feedback">
                    <p *ngIf="accountVerificationForm.get('verificationToken')?.errors?.['maxLength']" class="text-failed">
                      Verification token must contain 6 digit.
                    </p>
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body mt-2 mb-5"><span class="white-text">Activate My Account</span></button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

