<section class="h-75 bg-image mt-11-4">
  <div class="mask d-flex align-items-end h-75 gradient-custom-3">
    <div class="container h-75">
      <div class="row d-flex justify-content-end align-items-end h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-12 mt-11 mb-5 w-75">
          <form class="float-right ml-13" [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="row frame" style="border-radius: 15px;">
              <div class="d-flex justify-content-center align-items-center mt-4 mb-4 sign-up-form-title"><h2 class="title-bg-text"><b>Sign Up</b></h2></div>
              <div class="col-6">
                  <div class="form-outline mb-4">
                    <label class="form-label white-text" for="firstName">Fist Name</label>
                    <input type="text" [formControlName]="'firstName'" id="firstName" class="form-control form-control-lg form-styling" name="firstName"/>
                    <span *ngIf="!registerForm.get('firstName')?.valid && registerForm.get('firstName')?.touched" class="help-block" style="color: #84fab0; font-family: 'Arial', sans-serif;"><b>First name is required.</b></span>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label white-text" for="eMail">Email</label>
                    <input type="email" [formControlName]="'eMail'" id="eMail" class="form-control form-control-lg form-styling" name="eMail"/>
                    <span *ngIf="!registerForm.get('eMail')?.valid && registerForm.get('eMail')?.touched" class="help-block" style="color: #84fab0; font-family: 'Arial', sans-serif;"><b>Please enter a valid e mail address.</b></span>
                  </div>
                  
                  <div class="form-outline mb-4">
                    <label class="form-label white-text" for="phoneNumber">Phone Number</label>
                    <input type="text" [formControlName]="'phoneNumber'" id="phoneNumber" class="form-control form-control-lg form-styling" name="phoneNumber"/>
                    <span *ngIf="!registerForm.get('phoneNumber')?.valid && registerForm.get('phoneNumber')?.touched" class="help-block" style="color: #84fab0; font-family: 'Arial', sans-serif;"><b>Phone number is required.</b></span>
                  </div>
                
              </div>

              <div class="col-6">
                  <div class="form-outline mb-4">
                    <label class="form-label white-text" for="lastName">Last Name</label>
                    <input type="text" [formControlName]="'lastName'" id="lastName" class="form-control form-control-lg form-styling" name="lastName"/>
                    <span *ngIf="!registerForm.get('lastName')?.valid && registerForm.get('lastName')?.touched" class="help-block" style="color: #84fab0; font-family: 'Arial', sans-serif;"><b>Last name is required.</b></span>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label white-text" for="password">Password</label>
                    <input type="password" [formControlName]="'password'" id="password" class="form-control form-control-lg form-styling" name="password"/>
                    <span *ngIf="!registerForm.get('password')?.valid && registerForm.get('password')?.touched" class="help-block" style="color: #84fab0; font-family: 'Arial', sans-serif;"><b>Please enter a valid password.</b></span>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label white-text" for="birthDate">Birthdate</label>
                    <input type="text" [formControlName]="'birthDate'" id="birthDate" class="form-control form-control-lg form-styling" name="birthDate" />
                    <span *ngIf="!registerForm.get('birthDate')?.valid && registerForm.get('birthDate')?.touched" class="help-block" style="color: #84fab0; font-family: 'Arial', sans-serif;"><b>Birthdate is required.</b></span>
                  </div>
                
              </div>
              <div class="form-outline mb-4">
                <label class="form-label white-text" for="address">Address</label>
                <textarea id="address" [formControlName]="'address'" class="form-control form-control-lg form-styling" name="address" rows="2"></textarea>
                <span *ngIf="!registerForm.get('address')?.valid && registerForm.get('address')?.touched" class="help-block" style="color: #84fab0; font-family: 'Arial', sans-serif;"><b>Address is required.</b></span>
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body mt-2"><span class="white-text">Sign Up</span></button>
              </div>
              <p class="text-center mb-5 mt-3 white-text">Have already an account? <a routerLink="/login" class="fw-bold text-body"><u class="sign-up-to-login text-decoration-none">LOGIN here.</u></a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
