<div class="container rounded bg-white mt-11">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" src="https://i.imgur.com/0eg0aG0.jpg" width="150"><br>
                <span class="font-weight-bold">{{user?.firstName}} {{user?.lastName}}</span>
                <span class="text-black-50">{{user?.username}}</span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="text-right">Update Profile</h6>
                </div>
                <form class="form-signin"> 

                </form>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label for="firstName">First Name</label><br>
                        <input class="form-control" type="text" name="firstName" [formControlName]="'firstName'" placeholder="{{user?.firstName}}" />
                    </div>
                    <div class="col-md-6">
                        <label for="firstName">First Name</label><br>
                        <input class="form-control" type="text" name="firstName" [formControlName]="'firstName'" placeholder="{{user?.firstName}}" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label for="firstName">First Name</label><br>
                        <input class="form-control" type="text" name="firstName" [formControlName]="'firstName'" placeholder="{{user?.firstName}}" />
                    </div>
                    <div class="col-md-6">
                        <label for="firstName">First Name</label><br>
                        <input class="form-control" type="text" name="firstName" [formControlName]="'firstName'" placeholder="{{user?.firstName}}" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label for="firstName">First Name</label><br>
                        <input class="form-control" type="text" name="firstName" [formControlName]="'firstName'" placeholder="{{user?.firstName}}" />
                    </div>
                    <div class="col-md-6">
                        <label for="firstName">First Name</label><br>
                        <input class="form-control" type="text" name="firstName" [formControlName]="'firstName'" placeholder="{{user?.firstName}}" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label for="firstName">First Name</label><br>
                        <input class="form-control" type="text" name="firstName" [formControlName]="'firstName'" placeholder="{{user?.firstName}}" />
                    </div>
                    <div class="col-md-6">
                        <label for="firstName">First Name</label><br>
                        <input class="form-control" type="text" name="firstName" [formControlName]="'firstName'" placeholder="{{user?.firstName}}" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label for="address">Address</label><br>
                        <textarea id="address" [formControlName]="'address'" class="form-control form-control-lg" name="address" rows="2"></textarea>
                    </div>
                </div>
                <div class="mt-5 text-right">
                    <button class="btn btn-primary profile-button" type="button">Save Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>