.bg-image {
  background-image: url('../../../../assets/images/petify-sign-up.png');
  background-repeat: no-repeat;
}

.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(61, 1, 80, 0.5), rgba(247, 0, 21, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(61, 1, 80, 0.5), rgba(247, 0, 21, 0.5));
}

.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.sign-up-form-title {
  color: rgba(132, 250, 176, 1);
  font-family: 'Arial', sans-serif;
}

.sign-up-form-text-item {
  font-size: 13px;
  color: rgba(132, 250, 176, 1);
  font-family: 'Arial', sans-serif;

}

.title-bg {
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  border-radius: 5rem;
}

.title-bg-text {
  color: white;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.form-control {
  font-size: 13px;
}

.form-control:focus {
  border-color: #84fab0;
  box-shadow: inset 0 1px 1px rgba(132, 250, 176, 1), rgba(143, 211, 244, 1);
}

.form-error-message {
  font-size: 12px;
  color: #F89406;
  font-family: 'Arial', sans-serif;
}

.frame {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS82mL0lCjn8cUhnzzoE1oYnjPkobX4USGFXw&usqp=CAU) no-repeat center center;
  background-size: cover;
  border-top: solid 1px rgba(255, 255, 255, .5);
  border-radius: 5px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all .5s ease
}

.white-text {
  color: white;
}

.sign-up-to-login {
  color: white;
}

label {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 15px;
  padding-bottom: 10px;
  color: rgba(255, 255, 255, .7);
  display: block
}

:focus {
  outline: none
}

input:focus,
textarea:focus,
.form-signup input:focus,
textarea:focus {
  color: white;
  background: rgba(255, 255, 255, .3);
  border: none;
  padding-right: 40px;
  transition: background .5s ease
}

.form-styling {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, .2)
}

.form-control-feedback {
  color: #F89406;
  font-size: 12px;
}

.form-address-textarea {
  padding-left: 15px;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, .2)
}
