body {

}

.form-control {
  box-shadow: none;
  border-color: #BA68C8;
}

.form-control:focus {
    box-shadow: red;
    border-color: #F89406
}

.profile-button {
    background: #BA68C8;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.has-success{
  box-shadow: none;
  border-color: lightgreen;
}

.has-danger {
  box-shadow: none;
  border-color: red;
}

.text-failed {
  color: red;
}

.text-update-profile-title {
  color: #682773;
  font-size: 24px;
}

.text-label {
  color: #F89406
}

.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

/* Styles for tab labels */
.mat-tab-label {
  border-radius: 2px;
  min-width: 8.75rem !important;
  max-width: 8.75rem !important;
  padding: 5px;
  background-color: rgba(132, 250, 176, 1);
  color: #F89406;
  font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  border-radius: 2px;
  min-width: 8.75rem !important;
  max-width: 8.75rem !important;
  padding: 5px;
  background-color: rgba(143, 211, 244, 1);
  color: white;
  font-weight: 700;
}
